.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}